[run]
branch = True

data_file = /tmp/htcondor-dags-test-coverage

source =
    htcondor.dags
    tests

[report]
exclude_lines =
    pragma: no cover
    pragma: unreachable
    def __repr__
    def __str__
    raise NotImplementedError
    raise AssertionError
    if 0:
    if False:
    if __name__ == .__main__.:
